<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gogreen</title>
<style type="text/css">
<!--
body {
    background-color: #2d2319;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style></head>
<body>
<a href="<?php echo $base;?>index.php/home/show/enquiry.html"> <div style="width:720px; height:530px; position:absolute; left: 400px; top:70px; background-repeat:no-repeat; background-image:url(<?php echo $base;?>images/index1_img.jpg)"> </div>
<div style="width:200px; height:32px; background-color:#89c533; float:left; margin-right:2px; margin-top:610px; margin-left:640px; -moz-border-radius:10px; -webkit-border-radius:7px; border-radius:7px; -webkit-box-shadow:1px 1px 1px #888 ; -moz-box-shadow:1px 1px 1px #888; box-shadow:1px 1px 1px #888; border:0px; "/> 
<div style="margin-left:10px; margin-top:2px; width:180px;float:left; margin-top:5px; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#ffffff;"> Want to buy a farm? </div> </div>
<br/></br>

<br />
<br />
<br />
</body>
</html>
