</head>
<center>
<body>
    <table width="1003" border="0" cellspacing="0" cellpadding="0">
<!-- Top menu start here -->
	<?php echo get_menu($base); ?>
<!-- Top menu End here -->
      <tr>
        <td height="198" colspan="2" class="flash2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="top" class="border_cell">
        <table width="99%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="92%" align="left" class="head_txt">News <!--&nbsp; &nbsp; &gt; Archives --></td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
		  
		   
		  <?php  
			foreach($news AS $latestnews)
				{
					echo '<tr><td><hr></td></tr><tr><td align="left" valign="top" class="main_matter"><br /><strong>&quot;'

					. $latestnews->title . '…&quot; </strong> -' . $latestnews->posteddate . '

					<br /><br />' . $latestnews->news . '<br /><br /></td><td width="8%" align="left" valign="top">&nbsp;</td>
				</tr>';
	
				}											 
			?>    
			
		  
		  
		  
          
          <tr>
            <td height="30" align="center" valign="top" >&nbsp;</td>
            <td align="center" valign="top" >&nbsp;</td>
          </tr>
