</head>
<center>
<body>
    <table width="1003" border="0" cellspacing="0" cellpadding="0">
<!-- Top menu start here -->
	<?php echo get_menu($base); ?>
<!-- Top menu End here -->
      <tr>
        <td height="198" colspan="2" class="flash2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="top" class="border_cell">
        <table width="99%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="92%" align="left" class="head_txt">About Us</td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top" class="main_matter">Prime Move is the coming together of a group of resourceful entrepreneurs, with proven record in investment and management.  The company identifies Travel & Tourism, Integrated farming, IT, E commerce and Media & Entertainment as key sectors that will see enormous growth in the days to come. Prime Move is making innovative investments in these sectors. <br />
<br />

Our travel and tourism arm Elatrip.com has firmly made its presence felt in the market, with the help of optimum services and classy packages. We are now in the process of making tie ups with national and international service providers, to expand our operations.<br />
<br />

The IT division is involved in hardware sales, software development and IT enabled services. Our products range cater to Hospital Management (MediSmart), Lead Management (Biz Build), Hotel Management (Essentia) and Enterprise Management. We are also into desktop and laptop sales.<br />
<br />

yahila.com is our E-commerce intervention and its pilot version is ready to take off. We will be making entry into the showbiz arena, in near future.  
<br />
              <br />
              <span class="head_txt">Latest News</span> <br />
              <br />
              <table width="98%" border="0" cellspacing="0" cellpadding="0"  class="tbl_border">
                <tr>
                  <td colspan="3" align="left" valign="top">
				  <iframe height="100px" width="100%" frameborder="0" scrolling="no" src="<?php echo $base; ?>index.php/news/getlatestnews"></iframe></td>
                </tr>
            </table></td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          
          <tr>
            <td height="30" align="center" valign="top" >&nbsp;</td>
            <td align="center" valign="top" >&nbsp;</td>
          </tr>
