</head>
<center>
<body>
    <table width="1003" border="0" cellspacing="0" cellpadding="0">
<!-- Top menu start here -->
	<?php echo get_menu($base); ?>
<!-- Top menu End here -->
      <tr>
        <td height="198" colspan="2" class="flash3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="top" class="border_cell">
        <table width="99%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="92%" align="left" class="head_txt">Ayurveda</td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top" class="main_matter">Amla or Indian Gooseberry is of high medicinal and  nutritional value. It is one of the prime ingredients in a large number of  Ayurvedic medicines and tonics.  Amla is also  one of the richest sources of Vitamin C, containing twenty times as much as in  orange.  It has very high concentration  of protein, minerals and amino acids. <br />
              <br />
              Amla is used in the treatment of respiratory disorders,  infertility, haemorrhage, premature aging, graying, diarrhea etc and  strengthens brain functions and the immune system. <br />
              <br />
              Realising this big potential of Amla in the market, we have  decided to develop it as a prime crop in our farms. We have set aside 3 acre  land in each plot for planting Amla and aims to produce 20 kg by the fourth  year. This will go up to 80 kg in the sixth year and we will be able to  maintain that production level from there on till the tenth year.
              <br />
              <br />
              <span class="head_txt">Latest News</span> <br />
              <br /> <table width="98%" border="0" cellspacing="0" cellpadding="0"  class="tbl_border">
                <tr>
                  <td colspan="3" align="left" valign="top">
				  <iframe height="100px" width="100%" frameborder="0" scrolling="no" src="<?php echo $base; ?>index.php/news/getlatestnews"></iframe></td>
                </tr>                                                     																				
            </table></td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          
          <tr>
            <td height="30" align="center" valign="top" >&nbsp;</td>
            <td align="center" valign="top" >&nbsp;</td>
          </tr>
