</head>
<center>
<body>
    <table width="1003" border="0" cellspacing="0" cellpadding="0">
	<!-- Top menu start here -->
	<?php echo get_menu($base); ?>
	<!-- Top menu End here -->
      <tr>
        <td height="198" colspan="2" class="flash3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="top" class="border_cell">
        <table width="99%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="92%" align="left" class="head_txt">Farm</td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top" class="main_matter">The total project area of the Theni Farms is 3000 acres,  divided into plots of ten acre each. The crop selection and division depends on  the terrain and other conditions.<br />
              <br />
              At the Sahya farms, we are concentrating on coconut and  fruits. Out of ten, four acre is having coconut with sapota as the inter crop. This  comes to 256 plants of each crop. Three acres each is planted with mango and  amla. This comes to 330 plants each.<br />
              <br />
              Saplings of Alphonso, Himam Pasanth and other high yielding  varieties are used in the case of mango. DSR-1 and NE-7 are the amla varieties  used.<br />
              <br />
              One hundred njaval saplings are planted on the fencing.  Nilambur and Konni varieties of teak plants, numbering five hundred, and around  ten thousand choukka plants will form the boundary of the plot.
              <br />
              <br />
              <span class="head_txt">Latest News</span> <br />
              <br /> <table width="98%" border="0" cellspacing="0" cellpadding="0"  class="tbl_border">
                <tr>
                  <td colspan="3" align="left" valign="top">
				  <iframe height="100px" width="100%" frameborder="0" scrolling="no" src="<?php echo $base; ?>index.php/news/getlatestnews"></iframe></td>
                </tr>
            </table></td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          
          <tr>
            <td height="30" align="center" valign="top" >&nbsp;</td>
            <td align="center" valign="top" >&nbsp;</td>
          </tr>
