</head>
<center>
<body>
    <table width="1003" border="0" cellspacing="0" cellpadding="0">
<!-- Top menu start here -->
	<?php echo get_menu($base); ?>
<!-- Top menu End here -->
      <tr>
        <td height="198" colspan="2" class="flash3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="top" class="border_cell">
        <table width="99%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="92%" align="left" class="head_txt">Infrastructure</td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top" class="main_matter">Theni Farms has procured all necessary farming equipments and  vehicles to implement the project in a time bound manner. We have enough number  of tractors, dozers and tillers to prepare the land in no time. <br /><br />

              We have employed drip irrigation, sprinkler irrigation in  the farms, ensuring the efficient utilization of water. We depend on the water  supply from bore wells dug in the farms and in certain places the irrigation  system of the state. <br /><br />

              Great importance is given to procure high yielding varieties  of seeds and plants. Own nurseries have been developed for teak and coconut.  For other crops, saplings are sourced from well established nurseries. <br /><br />

              Each plot is having a 500 sq. feet farm house. Basic  facilities like electricity and phone are provided here.
             <br />
              <br />
              <span class="head_txt">Latest News</span> <br />
              <br /> <table width="98%" border="0" cellspacing="0" cellpadding="0"  class="tbl_border">
                <tr>
                  <td colspan="3" align="left" valign="top">
				  <iframe height="100px" width="100%" frameborder="0" scrolling="no" src="<?php echo $base; ?>index.php/news/getlatestnews"></iframe></td>
                </tr>
            </table></td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          
          <tr>
            <td height="30" align="center" valign="top" >&nbsp;</td>
            <td align="center" valign="top" >&nbsp;</td>
          </tr>
