</head>
<center>
<body>
    <table width="1003" border="0" cellspacing="0" cellpadding="0">
	<!-- Top menu start here -->
	<?php echo get_menu($base); ?>
	<!-- Top menu End here -->
      <tr>
        <td height="198" colspan="2" class="flash3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="top" class="border_cell">
        <table width="99%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="92%" align="left" class="head_txt">Location</td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top" class="main_matter">Theni, located on the other side of the Western Ghats in  Tamil Nadu, has large tracts of fertile land. The main crops of the district  are paddy, jowar, cardamom, coconut, tea, mango, sugarcane, banana and silk  cotton. The total cultivated area is 119936 hectare.<br /><br />

              Many rivers like Periyar, Vaigai, Kottagudi flow through the  district. Their water resources are well tapped and redirected through  irrigation networks, ensuring enough supply of water for crops. <br /><br />

              Theni also has a lot importance from the tourism point of  view. Theni district is the main route for tourists going from Madurai to Kochi  is via Bodinayakanur and Munnar. Theni is a gateway to Kodaikkanal and Thekkadi,  which are within a hundred kilometres from here.<br /><br />

              More than 40 percent of the land area in Madurai is  cultivated. This was achieved largely due to the post independence campaign to  ‘grow more food’.<br /><br />

              Cereals, pulses and oil seeds are the three important crop  types in the district. In hill areas of the district, fruits, vegetables and flowers  are the primary crops. <br /><br />

              Periyar, Vaigai and Sathiyar rivers and many dams and canals  ensure enough supply of water to the cultivated land. Bore wells and tanks also  a major part in irrigation. <br /><br />

              Madurai is also a major tourist destination of south India.
              <br />
              <br />
              <span class="head_txt">Latest News</span> <br />
              <br />
              <table width="98%" border="0" cellspacing="0" cellpadding="0"  class="tbl_border">
                <tr>
                  <td colspan="3" align="left" valign="top">
				  <iframe height="100px" width="100%" frameborder="0" scrolling="no" src="<?php echo $base; ?>index.php/news/getlatestnews"></iframe></td>
                </tr>
            </table></td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          
          <tr>
            <td height="30" align="center" valign="top" >&nbsp;</td>
            <td align="center" valign="top" >&nbsp;</td>
          </tr>
