</head>
<center>
<body>
    <table width="1003" border="0" cellspacing="0" cellpadding="0">
<!-- Top menu start here -->
	<?php echo get_menu($base); ?>
<!-- Top menu End here -->
      <tr>
        <td height="198" colspan="2" class="flash3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="top" class="border_cell">
        <table width="99%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="92%" align="left" class="head_txt">Management </td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top" class="main_matter">The core team of the Prime Move has proven expertise and  experience in managing large scale farming. And we have experienced manpower to  manage and lead the day to day maintenance of the farms. They are very much  used to the agricultural practices we wish to employ. <br /><br />

              We will also be utilising the support and expert advice of the  many scientific labs and research centres of the Tamil Nadu government in the  region.<br /><br />

              Our policy is to let our farms talk for themselves, proving  their quality and profit making prowess. That is why depend on satisfied  customers as our advertisers. And we spend very little on advertisement  overheads.
              <br />
              <br />
              <span class="head_txt">Latest News</span> <br />
              <br /> <table width="98%" border="0" cellspacing="0" cellpadding="0"  class="tbl_border">
                <tr>
                  <td colspan="3" align="left" valign="top">
				  <iframe height="100px" width="100%" frameborder="0" scrolling="no" src="<?php echo $base; ?>index.php/news/getlatestnews"></iframe></td>
                </tr>
            </table></td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          
          <tr>
            <td height="30" align="center" valign="top" >&nbsp;</td>
            <td align="center" valign="top" >&nbsp;</td>
          </tr>
