</head>
<center>
<body>
    <table width="1003" border="0" cellspacing="0" cellpadding="0">
	
	<!-- Top menu start here -->
	<?php echo get_menu($base); ?>
	<!-- Top menu End here -->
      <tr>
        <td height="198" colspan="2" class="flash3">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="top" class="border_cell">
        <table width="99%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="92%" align="left" class="head_txt">Theni Farms	</td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top" class="main_matter">Our aim is to develop 3000 acres of cultivable land in these districts into profit making units, each having an area of 10 acres. We have identified the land in Theni and Madurai districts of southern Tamil Nadu. Theni Farms will be an assortment of smaller farms in various regions of the two districts.<br />
<br />

We have already started off with the Sahya farms in Bodinayakanur in Theni district. Land conditioning and planting are in progress there. The total area of the Sahya Farms is 158 acres and 13 plots are being developed out of it.
<br />
<br />
Each 10 acre plot is developed as a mixed crop plantation. It has mango, sapota, amla, njaval and wild strawberry, all of which are high yielding fruit crops. The plot also has a substantial number of coconut trees. Teak and choukka forms the boundary. 
<br />
              <br />
              <span class="head_txt">Latest News</span> <br />
              <br />
              <table width="98%" border="0" cellspacing="0" cellpadding="0"  class="tbl_border">
                <tr>
                  <td colspan="3" align="left" valign="top">
				  <iframe height="100px" width="100%" frameborder="0" scrolling="no" src="<?php echo $base; ?>index.php/news/getlatestnews"></iframe></td>
                </tr>
            </table></td>
            <td width="8%" align="left" valign="top">&nbsp;</td>
          </tr>
          
          <tr>
            <td height="30" align="center" valign="top" >&nbsp;</td>
            <td align="center" valign="top" >&nbsp;</td>
          </tr>
		  <!-- Footer Start -->
